USE [master]
GO
/****** Object:  Database [ThanhHa_MotorCycle]    Script Date: 13/10/2020 19:58:38 ******/
CREATE DATABASE [ThanhHa_MotorCycle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThanhHa_MotorCycle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ThanhHa_MotorCycle.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThanhHa_MotorCycle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ThanhHa_MotorCycle_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThanhHa_MotorCycle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThanhHa_MotorCycle]
GO
/****** Object:  Table [dbo].[Bao_Hanh]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bao_Hanh](
	[id_BaoHanh] [nchar](10) NOT NULL,
	[lim_BaoHanh] [nvarchar](80) NULL,
	[descript] [ntext] NULL,
 CONSTRAINT [PK_BaoHanh] PRIMARY KEY CLUSTERED 
(
	[id_BaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[id_DanhMuc] [nchar](10) NOT NULL,
	[id_HoaDon] [nchar](10) NOT NULL,
	[num_HoaDon] [int] NULL,
	[total_HoaDon] [int] NULL,
 CONSTRAINT [PK_CT_HoaDon] PRIMARY KEY CLUSTERED 
(
	[id_DanhMuc] ASC,
	[id_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[id_DanhMuc] [nchar](10) NOT NULL,
	[name_DanhMuc] [nvarchar](50) NULL,
	[size_DanhMuc] [nvarchar](50) NULL,
	[engine_DanhMuc] [nvarchar](80) NULL,
	[volume_DanhMuc] [nchar](10) NULL,
	[breakfont_DanhMuc] [nvarchar](50) NULL,
	[breakend_DanhMuc] [nvarchar](50) NULL,
	[tire_DanhMuc] [nvarchar](50) NULL,
	[torque_DanhMuc] [nvarchar](50) NULL,
	[id_HangSX] [nchar](10) NULL,
	[id_LoaiSP] [nchar](10) NULL,
	[id_BaoHanh] [nchar](10) NULL,
	[weight_DanhMuc] [int] NULL,
	[price_DanhMuc] [int] NULL,
	[image_DanhMuc] [image] NULL,
	[total_DanhMuc] [int] NULL,
 CONSTRAINT [PK_DanhMuc] PRIMARY KEY CLUSTERED 
(
	[id_DanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hang_SX]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang_SX](
	[id_HangSX] [nchar](10) NOT NULL,
	[name_HangSX] [nvarchar](50) NULL,
	[descrip_HangSX] [ntext] NULL,
 CONSTRAINT [PK_Hang_SX] PRIMARY KEY CLUSTERED 
(
	[id_HangSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id_HoaDon] [nchar](10) NOT NULL,
	[date_HoaDon] [date] NULL,
	[phone_HoaDon] [nchar](10) NULL,
	[name_HoaDon] [nvarchar](20) NULL,
	[email_HoaDon] [nchar](20) NULL,
	[address_HoaDon] [nvarchar](60) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[id_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_SP]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_SP](
	[id_LoaiSP] [nchar](10) NOT NULL,
	[name_LoaiSP] [nvarchar](50) NULL,
	[descrip_LoaiSP] [ntext] NULL,
 CONSTRAINT [PK_Loai_SP] PRIMARY KEY CLUSTERED 
(
	[id_LoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_TK]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_TK](
	[id_LoaiTK] [nchar](10) NOT NULL,
	[name_LoaiTK] [nvarchar](50) NULL,
	[descrip_LoaiTK] [ntext] NULL,
 CONSTRAINT [PK_Loai_TK] PRIMARY KEY CLUSTERED 
(
	[id_LoaiTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[id_NhaCC] [nchar](10) NOT NULL,
	[name_NhaCC] [nvarchar](50) NULL,
	[phone_NhaCC] [nchar](10) NULL,
	[email_NhaCC] [nchar](50) NULL,
	[address_NhaCC] [nvarchar](60) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[id_NhaCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[id_SanPham] [nchar](10) NOT NULL,
	[sokhung_SanPham] [nchar](18) NULL,
	[somay_SanPham] [nchar](18) NULL,
	[descript_SanPham] [ntext] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[id_SanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[user_Acc] [nchar](20) NOT NULL,
	[pass_Acc] [nchar](32) NULL,
	[status] [bit] NULL,
	[id_LoaiTK] [nchar](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[user_Acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TT_TaiKhoan]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TT_TaiKhoan](
	[user_Acc] [nchar](20) NOT NULL,
	[name_User] [nchar](25) NULL,
	[email_User] [nchar](20) NULL,
	[phone_User] [nchar](10) NULL,
	[address_User] [nvarchar](60) NULL,
 CONSTRAINT [PK_TT_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[user_Acc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bao_Hanh] ([id_BaoHanh], [lim_BaoHanh], [descript]) VALUES (N'BHanh_0001', N'3 năm hoặc 1000 km', N'trống')
INSERT [dbo].[Bao_Hanh] ([id_BaoHanh], [lim_BaoHanh], [descript]) VALUES (N'BHanh_0002', N'1 năm hoặc 1000 km', N'trống')
INSERT [dbo].[Bao_Hanh] ([id_BaoHanh], [lim_BaoHanh], [descript]) VALUES (N'BHanh_0003', N'2 năm hoặc 2000 km', N'trống')
GO
INSERT [dbo].[Hang_SX] ([id_HangSX], [name_HangSX], [descrip_HangSX]) VALUES (N'HangSX0001', N'HONDA', N'Trống')
INSERT [dbo].[Hang_SX] ([id_HangSX], [name_HangSX], [descrip_HangSX]) VALUES (N'HangSX0002', N'YAMAHA', N'Trống')
INSERT [dbo].[Hang_SX] ([id_HangSX], [name_HangSX], [descrip_HangSX]) VALUES (N'HangSX0003', N'SYM', N'Trống')
GO
INSERT [dbo].[Loai_SP] ([id_LoaiSP], [name_LoaiSP], [descrip_LoaiSP]) VALUES (N'LoaiSP0001', N'Xe tay ga', N'Trống')
INSERT [dbo].[Loai_SP] ([id_LoaiSP], [name_LoaiSP], [descrip_LoaiSP]) VALUES (N'LoaiSP0002', N'Xe tay côn', N'Trống')
INSERT [dbo].[Loai_SP] ([id_LoaiSP], [name_LoaiSP], [descrip_LoaiSP]) VALUES (N'LoaiSP0003', N'Xe máy điện', N'Trống')
GO
INSERT [dbo].[Loai_TK] ([id_LoaiTK], [name_LoaiTK], [descrip_LoaiTK]) VALUES (N'LoaiTK0001', N'Quản lý', N'Quyền cao nhất, có thể thực thi mợi chức năng của chương trình')
INSERT [dbo].[Loai_TK] ([id_LoaiTK], [name_LoaiTK], [descrip_LoaiTK]) VALUES (N'LoaiTK0002', N'Quản trị viên', N'Quyền thêm tài khoản')
INSERT [dbo].[Loai_TK] ([id_LoaiTK], [name_LoaiTK], [descrip_LoaiTK]) VALUES (N'LoaiTK0003', N'Quản lý kho', N'None')
GO
INSERT [dbo].[NhaCungCap] ([id_NhaCC], [name_NhaCC], [phone_NhaCC], [email_NhaCC], [address_NhaCC]) VALUES (N'NhaCC_0001', N'Honda motor Viet Nam', N'0334195047', N'hondavietnam@honda.com                            ', N'None')
INSERT [dbo].[NhaCungCap] ([id_NhaCC], [name_NhaCC], [phone_NhaCC], [email_NhaCC], [address_NhaCC]) VALUES (N'NhaCC_0002', N'Yamaha motor Viet Nam', N'0945632574', N'yamahavietnam@honda.com                           ', N'None')
INSERT [dbo].[NhaCungCap] ([id_NhaCC], [name_NhaCC], [phone_NhaCC], [email_NhaCC], [address_NhaCC]) VALUES (N'NhaCC_0003', N'VINFAST', N'0123456789', N'vinfast.none                                      ', N'Hai Phong City')
GO
INSERT [dbo].[TaiKhoan] ([user_Acc], [pass_Acc], [status], [id_LoaiTK]) VALUES (N'hoangduong          ', N'9657a1b7e116820f11f1a27ffefa0eb1', 0, N'LoaiTK0004')
INSERT [dbo].[TaiKhoan] ([user_Acc], [pass_Acc], [status], [id_LoaiTK]) VALUES (N'TKhoan5001          ', N'9657a1b7e116820f11f1a27ffefa0eb1', 1, N'LoaiTK0001')
INSERT [dbo].[TaiKhoan] ([user_Acc], [pass_Acc], [status], [id_LoaiTK]) VALUES (N'TKhoan5002          ', N'9657a1b7e116820f11f1a27ffefa0eb1', 0, N'LoaiTK0002')
GO
INSERT [dbo].[TT_TaiKhoan] ([user_Acc], [name_User], [email_User], [phone_User], [address_User]) VALUES (N'hoangduong          ', N'Nguyen Hoang Duong       ', N'123Tesr@test.com    ', N'11111111  ', N'123 Quan 9, TPHCM')
INSERT [dbo].[TT_TaiKhoan] ([user_Acc], [name_User], [email_User], [phone_User], [address_User]) VALUES (N'TKhoan5001          ', N'admin                    ', N'a@gmail.com         ', N'0334195047', N'none')
INSERT [dbo].[TT_TaiKhoan] ([user_Acc], [name_User], [email_User], [phone_User], [address_User]) VALUES (N'TKhoan5002          ', N'a                        ', N'a                   ', N'a         ', N'a')
GO
/****** Object:  StoredProcedure [dbo].[Get_DanhMucCustom]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_DanhMucCustom]
    @ID NVARCHAR(10)
AS
BEGIN
	SELECT 
		id_DanhMuc,
		name_DanhMuc,
		size_DanhMuc,
		engine_DanhMuc,
		volume_DanhMuc,
		breakfont_DanhMuc,
		breakend_DanhMuc,
		tire_DanhMuc,
		torque_DanhMuc,
		HSX.name_HangSX,
		LSP.name_LoaiSP,
		BH.lim_BaoHanh,
		weight_DanhMuc,
		price_DanhMuc,
		image_DanhMuc, 
		total_DanhMuc
	FROM dbo.DanhMuc DM, dbo.Hang_SX HSX, dbo.Loai_SP LSP, dbo.Bao_Hanh BH
	WHERE  DM.id_BaoHanh = BH.id_BaoHanh AND DM.id_HangSX = HSX.id_HangSX 
		AND DM.id_LoaiSP = LSP.id_LoaiSP AND DM.id_DanhMuc = @ID
END;
GO
/****** Object:  StoredProcedure [dbo].[Get_TaiKhoan]    Script Date: 13/10/2020 19:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_TaiKhoan] 
    @value nchar(10)
AS
BEGIN
	SELECT TT.user_Acc, TT.name_User, TT.email_User, TT.phone_User, TT.address_User,
		TK.pass_Acc,TK.status,TK.id_LoaiTK
	FROM dbo.TT_TaiKhoan TT, dbo.TaiKhoan TK
	WHERE TT.user_Acc = TK.user_Acc AND TT.user_Acc = @value
END;
GO
USE [master]
GO
